*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: inter;
    font-size: 14px;
    
}
@font-face{
    font-family: inter;
    src: url("fonts/static/Inter-Medium.ttf");
}
.input-area{
    
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 20px;
    border-radius: 30px;
    width: 25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(3, 245, 250);
}

header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo{
    width: 160px;
    height: 30px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    background-color: black;
    color: #fff;
}

.buy-button{
    background-color: black;
    color: #fff;
    padding: 18px;
    border-radius: 4px;
    margin-top: 100px;
}

.space-me{
    margin-left: 30px;
}

.background-image{
    background-image: url("https://www.theghanareport.com/wp-content/uploads/2022/10/Gold-1-750x430.jpg");
    color: #fff;
    background-size: cover;
    height: 70vh;
}

.font-increase{
    font-size: 3em;
}

.font-decrease{
    font-size: 1em;
    margin-top: 30px;
}

.flex1{
    display: flex;
    justify-content: space-around;
}

<<<<<<< HEAD
.silver_bullion{
    display: flex;
    gap: 15px;
    padding: 20px;
    margin: 30px 0;
    width: 100%;
    background: white;
}

.silver_image, .gold_img{
    width: 25%;
}
.silver_image > img, .gold_img > img{
    width:100%;
    height: 600px;
}

.coins{
    margin-top: 80px;
}
.coins > h1{
    font-size: 4rem;
}
.coins > p{
    word-spacing: 5px;
    margin: 30px 0;
    width: 80%;
    line-height: 1.7;
    color:hsl(236, 13%, 42%);
}
.coin_images{
    display:flex;
    width: 75%;
    gap: 20px;
}
.coin1>img, .coin2>img, .coin3>img, .coin4>img{
    width: 200px;
}
.gold_bullion{
    background: whitesmoke;
    display: flex;
    padding: 50px;
    width: 100%;
}
.summary{
    display: flex;
    gap: 20px;
    padding: 100px 20px 0px 20px;
}
.left, .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left1 > p, .left2 > p, .left3 > p, .left4 > p, .left5 > p, .left5 > p, .left6 > p, .right1 > p, .right2 > p, .right3 > p{
    line-height: 1.7;
    color:hsl(236, 13%, 42%)
}

footer{
    background: whitesmoke;
    display: flex;
    width: 100%;
    padding: 100px 20px 50px;
    margin-top: 10px;
    border-bottom: 10px ridge;
}
footer > div{
    width: 25%;
}

footer > div > h2{
    margin-bottom: 20px;
}
footer > div > div > p{
    line-height: 2.0;
    color: hsl(236, 13%, 42%);
}

.subscription > p{
    line-height: 1.7;
    margin-bottom: 20px;
    color: hsl(236, 13%, 42%);
}
.subscription > input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
}
.subscription > button{
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    background: black;
    color: white;
}
.daysandtime{
    margin: 40px 0 0 30px;
    display: flex;
    gap: 40px;
}
.daysandtime > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.daysandtime > div > p{
    color: hsl(236, 13%, 42%);
}
.Payment_icons{
    margin: 40px 0 0 60px;
}
.end{
    background: whitesmoke;
    display: flex;
    padding: 50px 20px;
    width: 100%;
}
.end_left{
    width: 70%;
}
.end > div > p{
    color: hsl(236, 13%, 42%);
=======
.coin{
    width: 300px;
    height: 300px;
}

.explore-section{
    background-color: cyan;
    padding: 4px;
}

.explore{
    margin-top: 4em;
    margin-bottom: 2em;
}

.coin-section{
    display: flex;
    gap: 8px;
>>>>>>> dead1bf619186c0d7709c2ce3e0facef64135e6e
}
