*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: jost;
    font-size: 14.5px;
    
}
@font-face{
    font-family: jost;
    src: url("fonts/jost/Jost-VariableFont_wght.ttf");
}
.input-area{
    padding-left: 25px;
    /* background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right; */
    background-size: 20px;
    border-radius: 30px;
    width: 40rem;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F5F5F5;
    border-style: none;
    
}

.input-area > input{
    background: transparent;
    border: none;
    outline: none;
    margin-top: 0;
}

.input-area > img{
    margin-left: 400px;
    width: 25px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo{
    width: 160px;
    height: 30px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    background-color: black;
    color: #fff;
}

ul > li > a:hover{
    border-bottom: 2px solid;
}
.buy-button{
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    margin-top: 50px;
}

.space-me{
    margin-left: 30px;
}

.background-image{
    background-image: url("iimages/gold\ background.webp");
    color: #fff;
    background-size: cover;
    height: 70vh;
}

.font-increase{
    font-size: 3em;
}

.font-decrease{
    font-size: 1em;
    margin-top: 30px;
}

.flex1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}


nav > ul > li > a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.coin-section{
    display: flex;
    justify-content: center;
}

.coin{
    width: 90%;
    height: 90%;
}

.explore-section{
    background-color: whitesmoke;
    height: 100vh;
    padding: 7px;
}

.explore{
    margin-top: 1em;
}

.silver-nav{
    display: flex;
}

.clipart{
    width: 120px;
    height: 120px;
}


.sil{
    margin-left: 35em;
    margin-bottom: 12px;
}

.platinum-images{
    display: flex;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    padding-top: 5px;
}

.move{
    margin-left: 25px;
}

.myaccount{
    display: flex;
    background: whitesmoke;
    gap: 370px;
    padding: 10px 0 0 100px;
}

.image > img{
    width: 150px;
    height: 100px;
}

.big{
    margin-bottom: 30px;
}

.recom{
    background-color: #fff;
}

.silver_bullion{
    display: flex;
    gap: 15px;
    padding: 20px;
    margin: 30px 0;
    width: 100%;
    background: white;
}

.silver_image, .gold_img{
    width: 30%;
}
.silver_image > img, .gold_img > img{
    width:100%;
    height: 600px;
}

.coins{
    margin-top: 80px;
}
h1{
    font-size: 4rem;
}
.coins > p{
    word-spacing: 5px;
    margin: 30px 0;
    width: 80%;
    line-height: 1.7;
    color:hsl(236, 13%, 42%);
}
.coin_images{
    display:flex;
    width: 75%;
    gap: 20px;
}
.coin1>img, .coin2>img, .coin3>img, .coin4>img{
    width: 200px;
}
.gold_bullion{
    background: whitesmoke;
    display: flex;
    padding: 50px;
    width: 100%;
}
.summary{
    display: flex;
    gap: 20px;
    padding: 100px 20px 0px 20px;
}
.left, .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left1 > p, .left2 > p, .left3 > p, .left4 > p, .left5 > p, .left5 > p, .left6 > p, .right1 > p, .right2 > p, .right3 > p{
    line-height: 1.7;
    color:hsl(236, 13%, 42%)
}

footer{
    background: whitesmoke;
    display: flex;
    width: 100%;
    padding: 100px 20px 50px;
    margin-top: 10px;
    border-bottom: 10px ridge;
}
footer > div{
    width: 25%;
}

footer > div > h2{
    margin-bottom: 20px;
}
footer > div > div > p{
    line-height: 2.0;
    color: hsl(236, 13%, 42%);
}

.subscription > p{
    line-height: 1.7;
    margin-bottom: 20px;
    color: hsl(236, 13%, 42%);
}
.subscription > input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
}
.subscription > button{
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    background: black;
    color: white;
}
.daysandtime{
    margin: 40px 0 0 30px;
    display: flex;
    gap: 40px;
}
.daysandtime > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.daysandtime > div > p{
    color: hsl(236, 13%, 42%);
}
.Payment_icons{
    margin: 40px 0 0 60px;
}
.end{
    background: whitesmoke;
    display: flex;
    padding: 50px 20px;
    width: 100%;
}
.end_left{
    width: 70%;
}
.end > div > p{
    color: hsl(236, 13%, 42%);
}
.coin{
    width: 280px;
    height: 280px;
}

textarea:focus, input:focus{
    outline: none;
}


.coin-section{
    display: flex !important;
    gap: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

.kilo-coin{
width: 70%;
height: 70%;
}

.silver-section{
    display: flex;
    margin-top: 70px;
}

.plat{
    width: 80%;
    height: 80%;
}

img > p{
    text-align: center;
}