*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: inter;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 1.5px;
}
@font-face{
    font-family: inter;
    src: url("fonts/static/Inter-Medium.ttf");
}

header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo{
    width: 160px;
    height: 30px;
}
.input-area{
    
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 20px;
    border-radius: 30px;
    width: 25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(3, 245, 250);
}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    background-color: black;
    color: #fff;
}

.myaccount{
    display: flex;
    padding: 20px 0px 10px 150px;
    background: whitesmoke;
}
.image > img{
    width: 200px;
    height: 100px;
}

.info{
    margin: 30px 0px 0px 250px;
    line-height: 2.0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    line-height: 2.0;
}
footer{
    background: whitesmoke;
    display: flex;
    width: 100%;
    padding: 100px 20px 50px;
    margin-top: 10px;
    border-bottom: 10px ridge;
}
footer > div{
    width: 25%;
}

footer > div > h2{
    margin-bottom: 20px;
}
footer > div > div > p{
    line-height: 2.0;
    color: hsl(236, 13%, 42%);
}

.subscription > p{
    line-height: 1.7;
    margin-bottom: 20px;
    color: hsl(236, 13%, 42%);
}
.subscription > input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
}
.subscription > button{
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    background: black;
    color: white;
}
.daysandtime{
    margin: 40px 0 0 30px;
    display: flex;
    gap: 40px;
}
.daysandtime > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.daysandtime > div > p{
    color: hsl(236, 13%, 42%);
}
.Payment_icons{
    margin: 40px 0 0 60px;
}
.end{
    background: whitesmoke;
    display: flex;
    padding: 50px 20px;
    width: 100%;
}
.end_left{
    width: 70%;
}
.end > div > p{
    color: hsl(236, 13%, 42%);
}

a{
    text-decoration: none;
    color: #fff;
}